<div class="container" style="padding: 10rem 0;">
  <mat-card>
    <div class="row">
      <div class="col-md-12">
        <div class="panels" id="paneles">
          <div class="row">
            <div class="panel" id="panel-retos">
              <div class="col-md-12 panel-header">
                RETOS
              </div>
              <div class="col-md-12 panel-data">
                <mat-list>
                  <mat-list-item *ngFor="let reto of retos; let i = index" [ngClass]="{'active': currentReto == (i+1)}"
                    (click)="goToVariation(reto.id)">
                    <h3 matLine> {{reto.name}} </h3>
                    <i *ngIf="currentReto == reto.id" class="fa fa-chevron-right" aria-hidden="true"></i>
                  </mat-list-item>
                </mat-list>

              </div>
            </div>

            <div class="panel">
              <div class="col-md-12 panel-header">
                VARIACIONES
              </div>
              <div class="col-md-12 panel-data" *ngIf="currentReto != null">
                <mat-list>
                  <mat-list-item *ngFor="let vari of selectedVariation; let i = index"
                    [ngClass]="{'active': currentVariation == vari.id}" (click)="goToEquivalencia(vari.id)">
                    <h3 matLine> {{vari.name}} </h3>
                    <i *ngIf="currentVariation == vari.id" class="fa fa-chevron-right" aria-hidden="true"></i>
                  </mat-list-item>
                </mat-list>

              </div>
            </div>

            <div class="panel">
              <div class="col-md-12 panel-header">
                EQUIVALENCIAS
              </div>
              <div class="col-md-12 panel-data" *ngIf="currentVariation != null">
                <mat-list>
                  <mat-list-item *ngFor="let equi of selectedEquivalencia; let i = index"  (click)="goToData(equi.id)">
                    <h3 matLine> {{equi.name}} </h3>
                    <!-- <i *ngIf="currentReto == reto.id" class="fa fa-chevron-right" aria-hidden="true"></i> -->
                  </mat-list-item>
                </mat-list>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card>

</div>