.panels {
    box-sizing: border-box;
    position: relative;
    transform: translateX(0);
    transition: 0.2s transform cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    width: 100%;
    .panel {
        // box-sizing: border-box;
        // display: inline-flex;
        height: 100%;
        min-height: 524px;
        position: relative;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
        transition: 0.2s width cubic-bezier(0.4, 0, 0.2, 1);
        white-space: initial;
        width: 33.33%;
        .panel-header {
            width: 100%;
            color: rgba(0, 0, 0, 0.54);
            box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) inset;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            height: 44px;
        }
        .panel-data {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            flex: 1;
            min-height: 0;
            width: 100%;
            padding: 0;
            mat-list {
                height: 436px;
                display: flex;
                padding: 0;
                flex-direction: column;
                overflow-y: auto;
                mat-list-item:hover {
                    background-color: #eee;
                    cursor: pointer;
                }
                i {
                    color: rgba(0, 0, 0, 0.54);
                }
            }
        }
    }
}

.active {
    background-color: #eee;
}

.transition33{
    transform: translateX(-34.3%);
}
.transition0{
    transform: translateX(0%);
}
.oculto{
    visibility: hidden;
}